In [1]:
import pandas as pd
import numpy as np

In [9]:
predict1_df = pd.read_csv("volume_predict3_focus_type2.csv")
predict1_df.head()

   tollgate_id                                time_window  direction  volume
0            1  [2016-10-18 08:00:00,2016-10-18 08:20:00)          0   47.83
1            1  [2016-10-18 08:20:00,2016-10-18 08:40:00)          0   49.31
2            1  [2016-10-18 08:40:00,2016-10-18 09:00:00)          0   51.21
3            1  [2016-10-18 09:00:00,2016-10-18 09:20:00)          0   46.71
4            1  [2016-10-18 09:20:00,2016-10-18 09:40:00)          0   47.61

In [10]:
predict2_df = pd.read_csv("merge_result2.csv")
predict2_df.head()

   tollgate_id                                time_window  direction  volume
0            1  [2016-10-18 08:00:00,2016-10-18 08:20:00)          0   44.99
1            1  [2016-10-18 17:00:00,2016-10-18 17:20:00)          0   41.21
2            1  [2016-10-19 08:00:00,2016-10-19 08:20:00)          0   44.18
3            1  [2016-10-19 17:00:00,2016-10-19 17:20:00)          0   36.51
4            1  [2016-10-20 08:00:00,2016-10-20 08:20:00)          0   41.14

In [13]:
predict3_df = pd.read_csv("volume_predict3_focus_type.csv")
predict3_df.head()

   tollgate_id                                time_window  direction  volume
0            1  [2016-10-18 08:00:00,2016-10-18 08:20:00)          0   43.59
1            1  [2016-10-18 08:20:00,2016-10-18 08:40:00)          0   46.63
2            1  [2016-10-18 08:40:00,2016-10-18 09:00:00)          0   48.11
3            1  [2016-10-18 09:00:00,2016-10-18 09:20:00)          0   46.69
4            1  [2016-10-18 09:20:00,2016-10-18 09:40:00)          0   48.21

In [11]:
merge_result = pd.merge(predict1_df, predict2_df, on=["tollgate_id", "time_window", "direction"])
merge_result.head()

,tollgate_id,time_window,direction,volume_x,volume_y
0,1,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",0,47.83,44.99
1,1,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",0,49.31,47.13
2,1,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",0,51.21,47.69
3,1,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",0,46.71,45.72
4,1,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",0,47.61,50.72

In [14]:
merge_result = pd.merge(merge_result, predict3_df, on=["tollgate_id", "time_window", "direction"])
merge_result.head()

,tollgate_id,time_window,direction,volume_x,volume_y,volume
0,1,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",0,47.83,44.99,43.59
1,1,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",0,49.31,47.13,46.63
2,1,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",0,51.21,47.69,48.11
3,1,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",0,46.71,45.72,46.69
4,1,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",0,47.61,50.72,48.21

In [15]:
merge_result.to_csv("merge_result.csv")