In [1]:
import pandas as pd

In [2]:
result = pd.read_csv("volume_predict_stacking.csv")
result.head()

,Unnamed: 0,tollgate_id,time_window,direction,volume
0,2016-10-18 06:00:00,1,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",0,47.59
1,2016-10-18 15:00:00,1,"[2016-10-18 17:00:00,2016-10-18 17:20:00)",0,47.39
2,2016-10-19 06:00:00,1,"[2016-10-19 08:00:00,2016-10-19 08:20:00)",0,47.01
3,2016-10-19 15:00:00,1,"[2016-10-19 17:00:00,2016-10-19 17:20:00)",0,37.79
4,2016-10-20 06:00:00,1,"[2016-10-20 08:00:00,2016-10-20 08:20:00)",0,36.49

In [3]:
del result["Unnamed: 0"]
result.head()

   tollgate_id                                time_window  direction  volume
0            1  [2016-10-18 08:00:00,2016-10-18 08:20:00)          0   47.59
1            1  [2016-10-18 17:00:00,2016-10-18 17:20:00)          0   47.39
2            1  [2016-10-19 08:00:00,2016-10-19 08:20:00)          0   47.01
3            1  [2016-10-19 17:00:00,2016-10-19 17:20:00)          0   37.79
4            1  [2016-10-20 08:00:00,2016-10-20 08:20:00)          0   36.49

In [4]:
result.to_csv("volume_predict_stacking.csv", encoding="utf8", index=None)