In [26]:
import pandas as pd
import numpy as np

In [27]:
train_data = pd.read_csv("volume_entry_train_1S.csv")
train_data.head()

,Unnamed: 0,cargo_count0,cargo_count1,cargo_count2,cargo_count3,cargo_count4,cargo_count5,cargo_model0,cargo_model1,cargo_model2,...,passenger_all_count,volume_all,etc_all_count,vehicle_all_model_avg,cargo_all_model_avg,passenger_all_model_avg,month,day,hour,minute
0,2016-09-19 00:00:00,3.0,0.0,2.0,3.0,3.0,1.0,12.0,0.0,7.0,...,49.0,62.0,10.0,1.629032,4.083333,4.083333,9,19,2,0
1,2016-09-19 00:20:00,0.0,2.0,3.0,3.0,1.0,3.0,0.0,7.0,15.0,...,43.0,56.0,7.0,1.750000,4.083333,4.083333,9,19,2,20
2,2016-09-19 00:40:00,2.0,3.0,3.0,1.0,3.0,7.0,7.0,15.0,10.0,...,40.0,60.0,7.0,1.916667,3.631579,3.631579,9,19,2,40
3,2016-09-19 01:00:00,3.0,3.0,1.0,3.0,7.0,5.0,15.0,10.0,5.0,...,34.0,57.0,6.0,2.070175,3.545455,3.545455,9,19,3,0
4,2016-09-19 01:20:00,3.0,1.0,3.0,7.0,5.0,4.0,10.0,5.0,12.0,...,32.0,56.0,5.0,2.053571,3.347826,3.347826,9,19,3,20

In [28]:
# 训练集做的不对，六个时段模型的训练集应该是分开的，但是这里合在一块了，区别就是下面这几个字段
del train_data["month"]
del train_data["day"]
del train_data["hour"]
del train_data["minute"]
train_data["time"] = train_data["Unnamed: 0"]
del train_data["Unnamed: 0"]

In [30]:
# 获取每一天6点到8点的流量，和8点到10点的流量
train_data["time"] = train_data["time"].apply(lambda x: pd.Timestamp(x))
train_data["month"] = train_data["time"].apply(lambda x: x.month)
train_data["day"] = train_data["time"].apply(lambda x: x.day)
train_data["hour"] = train_data["time"].apply(lambda x: x.hour)
train_data["minute"] = train_data["time"].apply(lambda x: x.minute)
train_6_8 = train_data[(train_data["hour"] >= 6) & (train_data["hour"] < 8)][["y", "day", "month"]]
train_6_8.index = train_data[(train_data["hour"] >= 6) & (train_data["hour"] < 8)]["time"]
train_8_10 = train_data[(train_data["hour"] >= 8) & (train_data["hour"] < 10)][["y", "day", "month"]]
train_8_10.index = train_data[(train_data["hour"] >= 8) & (train_data["hour"] < 10)]["time"]

In [41]:
# 按天拆分成无数个元素
train_time_lst = [train_6_8[(train_6_8["day"] == i) & (train_6_8["month"] == 9)]["y"] for i in range(19, 31, 1)]
train_time_lst += [train_6_8[(train_6_8["day"] == i) & (train_6_8["month"] == 10)]["y"] for i in range(1, 18, 1)]
predict_time_lst = [train_8_10[(train_8_10["day"] == i) & (train_8_10["month"] == 9)]["y"] for i in range(19, 31, 1)]
predict_time_lst += [train_8_10[(train_8_10["day"] == i) & (train_8_10["month"] == 10)]["y"] for i in range(1, 18, 1)]

In [42]:
predict_time_lst

[time
 2016-09-19 08:00:00    44.0
 2016-09-19 08:20:00    44.0
 2016-09-19 08:40:00    44.0
 2016-09-19 09:00:00    39.0
 2016-09-19 09:20:00    30.0
 2016-09-19 09:40:00    34.0
 Name: y, dtype: float64, time
 2016-09-20 08:00:00    56.0
 2016-09-20 08:20:00    60.0
 2016-09-20 08:40:00    63.0
 2016-09-20 09:00:00    57.0
 2016-09-20 09:20:00    64.0
 2016-09-20 09:40:00    50.0
 Name: y, dtype: float64, time
 2016-09-21 08:00:00    36.0
 2016-09-21 08:20:00    57.0
 2016-09-21 08:40:00    37.0
 2016-09-21 09:00:00    32.0
 2016-09-21 09:20:00    27.0
 2016-09-21 09:40:00    32.0
 Name: y, dtype: float64, time
 2016-09-22 08:00:00    47.0
 2016-09-22 08:20:00    49.0
 2016-09-22 08:40:00    43.0
 2016-09-22 09:00:00    27.0
 2016-09-22 09:20:00    35.0
 2016-09-22 09:40:00    49.0
 Name: y, dtype: float64, time
 2016-09-23 08:00:00    58.0
 2016-09-23 08:20:00    53.0
 2016-09-23 08:40:00    56.0
 2016-09-23 09:00:00    56.0
 2016-09-23 09:20:00    45.0
 2016-09-23 09:40:00    41.0
 Name: y, dtype: float64, time
 2016-09-24 08:00:00    56.0
 2016-09-24 08:20:00    70.0
 2016-09-24 08:40:00    54.0
 2016-09-24 09:00:00    54.0
 2016-09-24 09:20:00    58.0
 2016-09-24 09:40:00    47.0
 Name: y, dtype: float64, time
 2016-09-25 08:00:00    50.0
 2016-09-25 08:20:00    47.0
 2016-09-25 08:40:00    55.0
 2016-09-25 09:00:00    55.0
 2016-09-25 09:20:00    54.0
 2016-09-25 09:40:00    29.0
 Name: y, dtype: float64, time
 2016-09-26 08:00:00    47.0
 2016-09-26 08:20:00    52.0
 2016-09-26 08:40:00    36.0
 2016-09-26 09:00:00    36.0
 2016-09-26 09:20:00    35.0
 2016-09-26 09:40:00    52.0
 Name: y, dtype: float64, time
 2016-09-27 08:00:00    50.0
 2016-09-27 08:20:00    35.0
 2016-09-27 08:40:00    58.0
 2016-09-27 09:00:00    31.0
 2016-09-27 09:20:00    47.0
 2016-09-27 09:40:00    33.0
 Name: y, dtype: float64, time
 2016-09-28 08:00:00    109.0
 2016-09-28 08:20:00     89.0
 2016-09-28 08:40:00    110.0
 2016-09-28 09:00:00     88.0
 2016-09-28 09:20:00     91.0
 2016-09-28 09:40:00     78.0
 Name: y, dtype: float64, time
 2016-09-29 08:00:00    56.0
 2016-09-29 08:20:00    51.0
 2016-09-29 08:40:00    40.0
 2016-09-29 09:00:00    39.0
 2016-09-29 09:20:00    41.0
 2016-09-29 09:40:00    36.0
 Name: y, dtype: float64, time
 2016-09-30 08:00:00    80.0
 2016-09-30 08:20:00    82.0
 2016-09-30 08:40:00    71.0
 2016-09-30 09:00:00    55.0
 2016-09-30 09:20:00    48.0
 2016-09-30 09:40:00    55.0
 Name: y, dtype: float64, time
 2016-10-01 08:00:00    281.0
 2016-10-01 08:20:00    204.0
 2016-10-01 08:40:00    212.0
 2016-10-01 09:00:00    202.0
 2016-10-01 09:20:00    195.0
 2016-10-01 09:40:00    188.0
 Name: y, dtype: float64, time
 2016-10-02 08:00:00    130.0
 2016-10-02 08:20:00    152.0
 2016-10-02 08:40:00    194.0
 2016-10-02 09:00:00    160.0
 2016-10-02 09:20:00    154.0
 2016-10-02 09:40:00    158.0
 Name: y, dtype: float64, time
 2016-10-03 08:00:00    170.0
 2016-10-03 08:20:00    139.0
 2016-10-03 08:40:00    119.0
 2016-10-03 09:00:00    103.0
 2016-10-03 09:20:00    189.0
 2016-10-03 09:40:00    120.0
 Name: y, dtype: float64, time
 2016-10-04 08:00:00    241.0
 2016-10-04 08:20:00    213.0
 2016-10-04 08:40:00    224.0
 2016-10-04 09:00:00    176.0
 2016-10-04 09:20:00    164.0
 2016-10-04 09:40:00    151.0
 Name: y, dtype: float64, time
 2016-10-05 08:00:00    179.0
 2016-10-05 08:20:00    212.0
 2016-10-05 08:40:00    223.0
 2016-10-05 09:00:00    181.0
 2016-10-05 09:20:00    180.0
 2016-10-05 09:40:00    142.0
 Name: y, dtype: float64, time
 2016-10-06 08:00:00    178.0
 2016-10-06 08:20:00    132.0
 2016-10-06 08:40:00    130.0
 2016-10-06 09:00:00    147.0
 2016-10-06 09:20:00    135.0
 2016-10-06 09:40:00    147.0
 Name: y, dtype: float64, time
 2016-10-07 08:00:00    151.0
 2016-10-07 08:20:00    119.0
 2016-10-07 08:40:00    153.0
 2016-10-07 09:00:00    130.0
 2016-10-07 09:20:00    122.0
 2016-10-07 09:40:00    115.0
 Name: y, dtype: float64, time
 2016-10-08 08:00:00    37.0
 2016-10-08 08:20:00    41.0
 2016-10-08 08:40:00    34.0
 2016-10-08 09:00:00    25.0
 2016-10-08 09:20:00    28.0
 2016-10-08 09:40:00    24.0
 Name: y, dtype: float64, time
 2016-10-09 08:00:00    28.0
 2016-10-09 08:20:00    40.0
 2016-10-09 08:40:00    39.0
 2016-10-09 09:00:00    38.0
 2016-10-09 09:20:00    28.0
 2016-10-09 09:40:00    26.0
 Name: y, dtype: float64, time
 2016-10-10 08:00:00    35.0
 2016-10-10 08:20:00    42.0
 2016-10-10 08:40:00    40.0
 2016-10-10 09:00:00    37.0
 2016-10-10 09:20:00    26.0
 2016-10-10 09:40:00    19.0
 Name: y, dtype: float64, time
 2016-10-11 08:00:00    37.0
 2016-10-11 08:20:00    47.0
 2016-10-11 08:40:00    37.0
 2016-10-11 09:00:00    37.0
 2016-10-11 09:20:00    37.0
 2016-10-11 09:40:00    47.0
 Name: y, dtype: float64, time
 2016-10-12 08:00:00    47.0
 2016-10-12 08:20:00    43.0
 2016-10-12 08:40:00    36.0
 2016-10-12 09:00:00    33.0
 2016-10-12 09:20:00    40.0
 2016-10-12 09:40:00    39.0
 Name: y, dtype: float64, time
 2016-10-13 08:00:00    56.0
 2016-10-13 08:20:00    44.0
 2016-10-13 08:40:00    34.0
 2016-10-13 09:00:00    28.0
 2016-10-13 09:20:00    34.0
 2016-10-13 09:40:00    35.0
 Name: y, dtype: float64, time
 2016-10-14 08:00:00    53.0
 2016-10-14 08:20:00    47.0
 2016-10-14 08:40:00    43.0
 2016-10-14 09:00:00    43.0
 2016-10-14 09:20:00    41.0
 2016-10-14 09:40:00    41.0
 Name: y, dtype: float64, time
 2016-10-15 08:00:00    60.0
 2016-10-15 08:20:00    65.0
 2016-10-15 08:40:00    54.0
 2016-10-15 09:00:00    59.0
 2016-10-15 09:20:00    44.0
 2016-10-15 09:40:00    45.0
 Name: y, dtype: float64, time
 2016-10-16 08:00:00    38.0
 2016-10-16 08:20:00    60.0
 2016-10-16 08:40:00    52.0
 2016-10-16 09:00:00    50.0
 2016-10-16 09:20:00    43.0
 2016-10-16 09:40:00    26.0
 Name: y, dtype: float64, time
 2016-10-17 08:00:00    46.0
 2016-10-17 08:20:00    57.0
 2016-10-17 08:40:00    38.0
 2016-10-17 09:00:00    29.0
 2016-10-17 09:20:00    39.0
 2016-10-17 09:40:00    33.0
 Name: y, dtype: float64]

In [43]:
test_list = pd.Series([1,2,3,4,5,6])
def score(list1, list2):
    temp1 = pd.Series(list1.values)
    temp2 = pd.Series(list2.values)
    return ((temp1 - temp2) ** 2).mean()
score_list = pd.Series([score(test_list, train) for train in train_time_lst], index = range(29))
predict_result = predict_time_lst[score_list.idxmin()]
predict_result

time
2016-10-08 08:00:00    37.0
2016-10-08 08:20:00    41.0
2016-10-08 08:40:00    34.0
2016-10-08 09:00:00    25.0
2016-10-08 09:20:00    28.0
2016-10-08 09:40:00    24.0
Name: y, dtype: float64