In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [8]:
volume_entry_test1 = pd.read_csv("volume_entry_test_1S.csv",index_col="Unnamed: 0")
print volume_entry_test1.columns
volume_entry_test1.head()

Index([u'cargo_count0', u'cargo_count1', u'cargo_count2', u'cargo_count3',
       u'cargo_count4', u'cargo_count5', u'cargo_model0', u'cargo_model1',
       u'cargo_model2', u'cargo_model3', u'cargo_model4', u'cargo_model5',
       u'cargo_model_avg0', u'cargo_model_avg1', u'cargo_model_avg2',
       u'cargo_model_avg3', u'cargo_model_avg4', u'cargo_model_avg5',
       u'etc_count0', u'etc_count1', u'etc_count2', u'etc_count3',
       u'etc_count4', u'etc_count5', u'no_count0', u'no_count1', u'no_count2',
       u'no_count3', u'no_count4', u'no_count5', u'passenger_count0',
       u'passenger_count1', u'passenger_count2', u'passenger_count3',
       u'passenger_count4', u'passenger_count5', u'passenger_model0',
       u'passenger_model1', u'passenger_model2', u'passenger_model3',
       u'passenger_model4', u'passenger_model5', u'passenger_model_avg0',
       u'passenger_model_avg1', u'passenger_model_avg2',
       u'passenger_model_avg3', u'passenger_model_avg4',
       u'passenger_model_avg5', u'vehicle_model0', u'vehicle_model1',
       u'vehicle_model2', u'vehicle_model3', u'vehicle_model4',
       u'vehicle_model5', u'vehicle_model_avg0', u'vehicle_model_avg1',
       u'vehicle_model_avg2', u'vehicle_model_avg3', u'vehicle_model_avg4',
       u'vehicle_model_avg5', u'volume0', u'volume1', u'volume2', u'volume3',
       u'volume4', u'volume5', u'vehicle_all_model', u'cargo_all_model',
       u'passenger_all_model', u'no_all_count', u'cargo_all_count',
       u'passenger_all_count', u'volume_all', u'etc_all_count',
       u'vehicle_all_model_avg', u'cargo_all_model_avg',
       u'passenger_all_model_avg', u'month', u'day', u'hour', u'minute'],
      dtype='object')

,cargo_count0,cargo_count1,cargo_count2,cargo_count3,cargo_count4,cargo_count5,cargo_model0,cargo_model1,cargo_model2,cargo_model3,...,passenger_all_count,volume_all,etc_all_count,vehicle_all_model_avg,cargo_all_model_avg,passenger_all_model_avg,month,day,hour,minute
2016-10-18 06:00:00,0.0,4.0,5.0,7.0,3.0,6.0,0.0,8.0,12.0,14.0,...,132.0,157.0,44.0,1.216561,2.120,1.045455,10,18,9,40
2016-10-18 15:00:00,4.0,2.0,0.0,2.0,2.0,7.0,8.0,4.0,0.0,4.0,...,263.0,280.0,74.0,1.071429,2.000,1.011407,10,18,18,40
2016-10-19 06:00:00,2.0,3.0,5.0,6.0,5.0,3.0,4.0,6.0,12.0,13.0,...,122.0,146.0,43.0,1.226027,2.125,1.049180,10,19,9,40
2016-10-19 15:00:00,5.0,3.0,5.0,1.0,4.0,0.0,10.0,6.0,10.0,2.0,...,221.0,239.0,61.0,1.075314,2.000,1.000000,10,19,18,40
2016-10-20 06:00:00,1.0,1.0,4.0,5.0,2.0,3.0,2.0,2.0,10.0,10.0,...,123.0,139.0,34.0,1.172662,2.125,1.048780,10,20,9,40

In [9]:
entry_train1_y = volume_entry_train1["y"]
entry_train1_X = volume_entry_train1.copy()
del entry_train1_X["y"]

In [ ]:
corr = volume_entry_train1.corr()
plt.figure(figsize=(10, 10))

sns.heatmap(corr, vmax=1, square=True,annot=True,cmap='cubehelix')
plt.title('Correlation between features')